<logout ng-hide="!showOthers"></logout>
<h2 class="text-center" ng-hide="!showOthers">Crossover Video Portal</h2>
<div class="alert alert-danger" ng-show="message" role="alert">{{message}}</div>
<div ng-hide="message" class="video-container" scroll="loadVideos()">
    <div ng-class="videoClass" class="animate-repeat" ng-repeat="video in videos track by video._id" >
        <div class="panel panel-success"   >
            <div class="panel-heading video-title">
                <a ui-sref="detail({videoId : video._id})">
                    <h3 class="panel-title text-center">{{video.name}} </h3>
                </a>
            </div>
            <div class="panel-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <video ng-src="{{video.url | trustUrl}}" id="{{video._id}}"
                           class="embed-responsive-item videoTag" ng-click="!enablePlay || play($event)">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
            <div class="panel-footer">
                <span class="glyphicon glyphicon-star rating-text" aria-hidden="true">{{video.ratingAvg}}</span>
               <p class="video-description">{{video.description}}</p>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('.video-container').css({
            height: Math.round($(document).height())
        });

    })
</script>