.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin
.form-signin-heading {
     margin-bottom: 10px;
}

.video-description{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.video-title{
    cursor: pointer;
}

.video-title a{
    text-decoration: none;
}

.detail-video-container{
    height: 800px;
    overflow: scroll;
}
