
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading {
     margin-bottom: 10px;
}

.video-description{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.video-title,
video,
.logout{
    cursor: pointer;
}

.logout{
    padding-right: 5px;
}
.video-title a{
    text-decoration: none;
}

.video-container{
    overflow:scroll;

}

.rating-text{
    font-weight: bold !important;
}

.animate-repeat{
    animation: shake 0.80s;
}
.animate-repeat.ng-enter{
    transition:all linear 0.5s;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-3px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(4px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-7px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(7px, 0, 0);
    }
}






